# dependencies
node_modules/
.pnp/
.pnp.js

# build output
dist/
build/

# environment variables
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor / system files
.DS_Store
*.pem
*.log
.idea/
.vscode/
*.swp